
form input, form input.form_control {
	width: 100%;
	margin: 8px;
}

form div.checkbox label {
	display: flex;
	align-items: center;
}

form div.checkbox label input[type=checkbox] {
	max-width: 1em;
}


form.form-horizontal {
	width: 100%;
	display: flex;
	flex-direction: column;
}

form .form-group {
	margin: 0.5em 0 1.2em 0;
	display: flex;
	flex-direction: column;
}

form .form-group label {
	margin: 0;
	padding: 0;
}

form .form-group input {
	margin: 0;
	background-color: rgba(0,0,0,0.005);
}
form .form-group select {
	margin: 0;
	background-color: rgba(0,0,0,0.005);
}

form .form-group button[type="submit"] {
    font-size: 1.3em;
}




















