
.list-group-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-group-item span:last-of-type a {
	color: var(--main_text_color_darkgrey);
	padding: 3px;
	text-decoration: none;
	font-size: 1.2em;
}

.list-group-item span:last-of-type a:hover {
	color: var(--main_text_color_accent);
}


























