
.navbar-nav button:first-of-type {
	border-radius: 30px;
	margin: 8px;
}


.navbar-nav li i {
	width: 1em;
	margin: 0;
	padding: 00;
	box-sizing: content-box;
}
.navbar-nav li span {
	padding: 0 0 0 0.4em;
}













